*{
    padding: 0;
    margin: 0;
}

a{
    color: black;
}

header{
    background-color: #555353;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
footer{background-color: #7ae40f;
}
 header a{
     color: #0f0fecd0;
    text-decoration: none;
    margin:0 30px ;
     font-size: 18px;
    font-family:  Tahoma;
 }
footer{
    background-color: #5f5b5c;
    color: #0400f7;
    padding: 7px 20px;
    border-radius:20px ;
     border:none ;
}
header button:hover{
    background-color: #f0a1a1;
    transform: scale(1.1);
}
button a{
    color: darkgrey;
}

.hero{
    min-height: 75vh ;
    background-image:linear-gradient(to top ,
rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.096)    ) , url(photo.jpg);
    background-size: cover;
     background-position:center ;
display:flex;
flex-direction: column;
justify-content: center;
}



      
.hero p{
    font-size: 18px ;
}
 .pets{
padding: 50px 20px ;
background-color: #d2691e;
 }
img{
    max-width: 100%;
}
.pets-wrapper{


display: flex;
justify-content: space-between;
}
figure{
width: 22%;
background-color : black 
}


@media(max-width: 457px){
    hedar{
         display: block;
        text-align: center;

    }
nav{
    margin: 25px 0 ;
     } 
nav a{
    display:block;
} 
@media  (max-width: 457px){
    h1{
      font-size: 22px;
}
}





































































































































































